h1 {
    color: #d8b11b;
    font-family: serif;
    font-size:4em;
}

h2 {
    color: #b50bf9;
    font-family: Verdana;
    font-size: 3em;
}

h3 {
    color: #affc4c;
    font-family:Franklin Gothic Medium;
    font-size: 2em;

    h4
